.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.expression-table {
    width: 100%;
}

.expression-table-header {
    background-color: #8fb1d6;
    border-radius: 16px;
    display:table-header-group;
    margin: 0;
    padding: 0;
}