.main-container {
    width: 100%;
    padding: 2rem;
    margin: auto;
}

h2 {
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

.btn {
    border-radius: 2rem;
    border: 0px;
    width: 100%;
    font-family: var(--font-serif);
    color: var(--color-text-light);
    box-shadow: 0.25rem 0.25rem 0.25rem 0px #00000033;
}

.btn-big {
    padding: 0.5rem 1rem;
    font-size: large;
}

.btn-small {
    padding: 0.125rem 0rem;
}

.btn-primary {
    background-color: var(--color-main-green);
}

.btn-primary:hover {
    background-color: var(--color-main-green-hover);
}

.btn-primary:active {
    background-color: var(--color-main-green-pressed);
}

.btn-secondary {
    background-color: var(--color-main-orange);
}

.btn-secondary:hover {
    background-color: var(--color-main-orange-hover);
}

.btn-secondary:active {
    background-color: var(--color-main-orange-pressed);
}