@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --font-serif: "Noto Serif", ui-serif, Georgia, "Times New Roman", Times, serif;
    font-family: var(--font-serif);

    --color-header: #283618;

    --color-main-green: #606c38;
    --color-main-green-hover: #7d8d47;
    --color-main-green-pressed: #566132;
    --color-main-green-disabled: #666956;

    --color-main-orange: #bc6c25;
    --color-main-orange-hover: #d17727;
    --color-main-orange-pressed: #a35e21;
    --color-main-orange-disabled: #96795f;

    --color-secondary: #dda15e;

    --color-bg: #fefae0;
    --color-text: #281707;
    --color-text-light: white;
    --color-text-light-disabled: #acacac;

    --color-border-light: #d3bfac;

    --color-scrollbar: #6f3f15FF;

    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0px;
    height: 100%;

    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) #00000000
}

html::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background: #00000000;
}

body {
    margin: 0;
    min-height: 100vh;
}

#root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}