.btn {
    border-radius: 2rem;
    border: 0px;
    width: 100%;
    font-family: var(--font-serif);
    color: var(--color-text-light);
    box-shadow: 0.25rem 0.25rem 0.25rem 0px #00000033;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.btn-big {
    padding: 0.5rem 1rem;
    font-size: large;
}

.btn-small {
    padding: 0.125rem 0rem;
}

.btn-primary {
    background-color: var(--color-main-green);
}

.btn-primary:hover {
    background-color: var(--color-main-green-hover);
}

.btn-primary:active {
    background-color: var(--color-main-green-pressed);
}

.btn-secondary {
    background-color: var(--color-main-orange);
}

.btn-secondary:hover {
    background-color: var(--color-main-orange-hover);
}

.btn-secondary:active {
    background-color: var(--color-main-orange-pressed);
}

.btn-arrow {
    position: absolute;
    right: 0.75rem;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .btn-big {
        font-size: x-large;
    }

    .btn-small {
        font-size: larger;
        padding: 0.125rem 0rem;
    }

    .btn-arrow {
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;
    }
}