.category-buttons-container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--color-bg);
    box-shadow: 0.25rem 0.25rem 0.25rem 0px #00000033;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.category-buttons-container .title {
    width: 100%;
    text-align: left;
    font-size: large;
    font-weight: 600;
    display: inline;
}

.category-buttons-container .description {
    width: 100%;
    text-align: left;
    display: inline;
}