.landing-page-container {
    display: grid;
    grid-template-areas:
        "title-label"
        "dialect-selection"
        "start-button";
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 0;
    height: 60%;
    padding: 2rem;
}

.landing-page-container div {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.landing-page-container div.title-label {
    grid-area: title-label;
}

.landing-page-container div.dialect-selection {
    grid-area: dialect-selection;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
}

.landing-page-container div.start-button {
    grid-area: start-button;
}

.landing-page-container div.label {
    font-size: small;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    .landing-page-container {
        padding: 0 20vw;
    }

    .landing-page-container div.dialect-selection {
        width: 30rem;
        margin: auto;
    }

    .landing-page-container div.start-button {
        width: 25rem;
        margin: auto;
    }

    .landing-page-container div.label {
        font-size: medium;
    }
}