.quiz-selection-container {
    display: grid;
    grid-template-areas:
        "selection-label"
        "categories"
        "unselect-menu"
        "validation";
    grid-template-rows: auto 1fr auto auto;
    min-height: 0;
    height: 100%;
}

.quiz-selection-container div {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.quiz-selection-container div.selection-label {
    grid-area: selection-label;
    padding: 1rem 2rem;
    text-align: center;
}

.quiz-selection-container div.categories {
    grid-area: categories;
    overflow: auto;
    display: block;
    border-top: 1px solid var(--color-border-light);
    border-bottom: 1px solid var(--color-border-light);
}

.quiz-selection-container div.unselect-menu {
    grid-area: unselect-menu;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz-selection-container div.validation {
    grid-area: validation;
    padding: 1rem 2rem;
}