.quiz-results-container {
    display: grid;
    grid-template-areas:
        "title"
        "results"
        "results-details"
        "restart";
    grid-template-rows: auto auto auto auto;
    height: 100%;
}

.quiz-results-container div.title {
    grid-area: title;
}

.quiz-results-container div.results {
    grid-area: results;
}

.quiz-results-container div.results-details {
    grid-area: results-details;
}

.quiz-results-container div.restart {
    grid-area: restart;
}