.quiz-question-container {
    display: grid;
    grid-template-areas:
        "question-label"
        "transcript"
        "answers"
        "validation";
    grid-template-rows: auto 0.5fr auto auto;
    height: 100%;
}

.quiz-question-container div.question-label {
    grid-area: question-label;
    padding-top: 2rem;
}

.quiz-question-container div.transcript {
    grid-area: transcript;
}

.quiz-question-container div.answers {
    grid-area: answers;
}

.quiz-question-container div.validation {
    grid-area: validation;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .quiz-question-container {
        height: 80%;
        margin: auto;
    }

    .quiz-question-container div.answers {
        display: flex;
        justify-content: center;
    }

    .quiz-question-container div.validation {
        width: 25rem;
        margin: auto;
    }
}